[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
openpyxl = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
uwsgi = "*"
django-environ = "*"
requests = "*"
django-rest-passwordreset = "*"

[dev-packages]

[requires]
python_version = "3.8"
